@model IEnumerable<ProductModel>
@{
	ViewData["title"] = "Home";
	Paginate pager = new Paginate();

	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>
<style>
	.product-image-wrapper {
		height: 450px;
	}
</style>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach(var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					
						<div class="single-products">
						<a asp-controller="Product" asp-action="Details" asp-route-Id="@item.Id">
							<div class="productinfo text-center">
								<img src="~/media/products/@item.Image" alt="@item.Name"  />
							</div>
							<div class="productinfo text-center">
								<h2>@item.Price</h2>
								<p>@item.Name</p>
								<p>Category: @item.Category.Name</p>
								<p>Brand: @item.Brand.Name</p>
								<a asp-controller="Cart" asp-action="Add" asp-route-Id ="@item.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
						</a>
							
						</div>
					
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
						</ul>
					</div>
				</div>
			</div>
		}
		

	</div><!--features_items-->
	
</div>
<partial name="_paging" model="@pager" />